@addTagHelper *, EntityApp
@using EntityApp.Models

@model CourseSortViewModel
@{
    ViewData["Title"] = "List";
}
<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <div>
        <label>Name</label>
        <input asp-for="Courses.FirstOrDefault().Name" /> 
        <input type="submit" value="Filtering"/>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <sort-header action="List" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                    property="@Model.SortViewModel.NameSort">Name</sort-header>
            </th>
            <th>
                 <sort-header action="List" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                    property="@Model.SortViewModel.DurationDays">DurationDays</sort-header>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
